<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<string>1</string>
		<key>des</key>
		<string>开光天然葫芦开运风水挂件车挂手把件大号工艺品摆件水挂件车挂手把件大号工艺品摆件</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1522</string>
		<key>des</key>
		<string>开光天然葫芦开运风水挂件车挂手把件大号工艺品摆件</string>
	</dict>
	<dict>
		<key>price</key>
		<string>15333</string>
		<key>des</key>
		<string>开光天然葫芦开运风水挂件车挂手把件大号工艺品摆件</string>
	</dict>
	<dict>
		<key>price</key>
		<string>152</string>
		<key>des</key>
		<string>开光天然葫芦开运风水挂件车挂手把件大号工艺品摆件</string>
	</dict>
	<dict>
		<key>price</key>
		<string>15</string>
		<key>des</key>
		<string>开光天然葫芦开运风水挂件车挂手把件大号工艺品摆件</string>
	</dict>
	<dict>
		<key>price</key>
		<string>15</string>
		<key>des</key>
		<string>开光天然葫芦开运风水挂件车挂手把件大号工艺品摆件</string>
	</dict>
	<dict>
		<key>price</key>
		<string>15</string>
		<key>des</key>
		<string>开光天然葫芦开运风水挂件车挂手把件大号工艺品摆件</string>
	</dict>
	<dict>
		<key>price</key>
		<string>15</string>
		<key>des</key>
		<string>开光天然葫芦开运风水挂件车挂手把件大号工艺品摆件</string>
	</dict>
	<dict>
		<key>price</key>
		<string>15</string>
		<key>des</key>
		<string>开光天然葫芦开运风水挂件车挂手把件大号工艺品摆件</string>
	</dict>
	<dict>
		<key>price</key>
		<string>158</string>
		<key>des</key>
		<string>送餐车 纯手工做旧复古铁皮骑车装饰工艺品</string>
	</dict>
	<dict>
		<key>price</key>
		<string>15</string>
		<key>des</key>
		<string>开光天然葫芦开运风水挂件车挂手把件大号工艺品摆件</string>
	</dict>
</array>
</plist>
